<!doctype html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="#" class="navbar-brand mr-2" style="padding:16px;">ItemGoWhere</a>
			<a href= "{{ url_for('home') }}" class="btn btn-link">Page 1</a>
			<a href="{{ url_for('don_page') }}" class="btn btn-link">Page 2</a>
		</section>
	</header>
	<section class="container">
		{% block content %}{% endblock %}
	</section>
</body>
