<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>




    <link href='{{url_for("static",filename = "style.css") }}' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2" style="padding:16px;">ItemGoWhere</a>
            <a href="#" class="btn btn-link">Page 1</a>
            <a href="#" class="btn btn-link">Page 2</a>
        </section>
    </header>
    <div id="outer-container">
        <div id="sidebar">
            <div id="myDIV" class="header">
                <h2>List of items to donate</h2>
            </div>

            <ul id="myUL">
                {% for i in data %}
                <li>
                    {{i[0]}}
                    <p></p>
                    <p>Location: {{i[1]}}</p>
                    <p>Stocks: {{i[2]}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            <div id="mapid" style="width: 700px; height: 500px; margin: fit-content;"></div>
            <script>

                var mymap = L.map('mapid').setView([1.352083, 103.819836], 11);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(mymap);

                var jurong = new L.Marker([1.3414251396568244, 103.74075459727348]).bindPopup('Toilet Paper<br/>Stocks: 130<br/>Location:Jurong East Ave 5 Blk 121',{closeOnClick: false, autoClose: false}).openPopup()
                var first = new L.Marker([1.3129226341821683, 103.92353366040076]).bindPopup('Hand Sanitiser<br/>Stocks: 2<br/>2 First Street',{closeOnClick: false, autoClose: false}).openPopup()
               jurong.addTo(mymap);
               whampoa.addTo(mymap);
               first.addTo(mymap);
            </script>


        </div>
    </div>



</body>