<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>




    <link href='{{url_for("static",filename = "style.css") }}' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2" style="padding:16px;">ItemGoWhere</a>
            <a href="{{ url_for('home') }}" class="btn btn-link">Getting Donations</p>
            <a href="{{ url_for('don_page') }}" class="btn btn-link">Offering Donations</a>
        </section>
        <section class="navbar-section">
            <a href="{{ url_for('signup') }}" class="btn btn-link">Sign Up</a>
            <a href="{{ url_for('login') }}" class="btn btn-link">Log In</a>
        </section>
    </header>
    <div id="outer-container">
        <div id="sidebar">
            <div id="myDIV" class="header">
                <h2>List of items to donate</h2>
                <form method = 'POST'>
                <input name= 'item' placeholder = 'Search for item...'>
                </form>
                
            </div>

            <ul id="myUL">
                {%if data | length != 0 %}
                {% for i in data %}
                <li>
                    {{i[1]}}
                    <p></p>
                    <p>Location: {{i[2]}}</p>
                    <p>Stocks: {{i[3]}}</p>
                </li>
                {% endfor %}
                {% else %}
                <li>
                <p>Nothing To Be Shown :(<p>
                </li>
                {% endif %}

            </ul>
        </div>
        <div id="content">
            <div id="mapid" style="width: 700px; height: 500px; margin: fit-content;"></div>
            <script>

                var mymap = L.map('mapid').setView([1.352083, 103.819836], 11);
                var data = {{data | tojson}}
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(mymap);
                for (let i = 0;i<data.length;i++){
                    let mark = new L.Marker([data[i][4],data[i][5]]).bindPopup(`Item: ${data[i][1]}<br/>Stocks: ${data[i][2]}<br/>Location: ${data[i][3]}`).addTo(mymap);
                }
            </script>


        </div>
    </div>



</body>
