{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>
<form method="POST" action="/login">
    {{ form.csrf_token }}
    <fieldset class="username">
        {{ form.username.label }}
        {{ form.username(placeholder='Username') }}
        {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </fieldset>
    <fieldset class="password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </fieldset>
    <div class="submit-button">
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
<br>
<br>
<div class="login-signup">
    <div>
        <span>Don't have an account?</span>
        <a href="{{ url_for('signup') }}">Sign up.</a>
    </div>
</div>

{% endblock %}
